{{ define "activity_feed" }}
    {{ $actors := .actors }}
    {{ $announcements := .announcements }}
    {{ $media := .media }}
    {{ if .feed }}
        <ul class="list-unstyled activity-feed">
            {{ range $item := .feed }}
                {{ if or $item.create_note $item.announce_note $item.tombstone }}
                    {{ if $item.create_note }}
                        {{template "activity_create_note" (dict "item" $item "actors" $actors "announcements" $announcements "media" $media) }}
                    {{ end }}
                    {{ if $item.announce_note }}
                        {{template "activity_announce_note" (dict "item" $item "actors" $actors "announcements" $announcements "media" $media) }}
                    {{ end }}
                    {{ if $item.tombstone }}
                        {{template "activity_tombstone" (dict "item" $item) }}
                    {{ end }}
                {{ else }}
                    <p class="text-danger">Unexpected item</p>
                {{ end }}
            {{ end }}
        </ul>
    {{ end }}
{{ end }}