{{ define "activity_announce_note" }}
    {{ $actors := .actors }}
    {{ $announcements := .announcements }}
    {{ $media := .media }}
    {{ with $item := .item }}
        {{ with $boost := $item.announce_note}}
            {{ with $note := $boost.note }}
                <li class="media mb-3 border-top border-secondary pt-2">
                    <img class="pr-1" src="{{- $actors.Lookup "icon" $note.author -}}?size=60" alt="icon"/>
                    <div class="media-body">
                        <div class="dropdown float-right">
                            <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                <i class="fas fa-tools"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {{ if eq true (lookupBool $announcements $note.object_id false) }}
                                    <a href="#" class="dropdown-item disabled"
                                       data-object="{{ $note.object_id }}">Announce</a>
                                {{ else }}
                                    <a href="#" class="dropdown-item announce"
                                       data-object="{{ $note.object_id }}">Announce</a>
                                {{ end }}
                                {{- if $note.conversation -}}
                                    <a class="dropdown-item"
                                       href="{{ url "compose" }}?inReplyTo={{ urlEncode $note.object_id }}">
                                        Reply
                                    </a>
                                {{ end }}
                            </div>
                        </div>
                        <span class="text-muted d-block">
                            Boosted by
                            <img src="{{- $actors.Lookup "icon" $boost.announcer -}}?size=14" alt="icon"/>
                            <a href="{{ $boost.announcer }}">
                                {{- $actors.Lookup "name" $boost.announcer -}}
                            </a>
                        </span>
                        <p>
                            Note by
                            <a href="{{ $note.author }}">
                                {{- $actors.Lookup "name" $note.author -}}
                            </a>
                            on {{ datetime $note.published_at }}
                        </p>
                        {{- $note.content | toHTML -}}
                        {{ if $note.media }}
                            <ul class="list-inline">
                                {{ range $m := $note.media }}
                                    {{ $thumb := ($media.Lookup "blurhash" $m) }}
                                    {{ if $thumb }}
                                        <li class="list-inline-item">
                                            <a href="{{ $media.Lookup "image" $m }}" target="_blank">
                                                <img class="img-thumbnail" src="{{ $thumb }}"
                                                     alt="blurred thumbnail of media"/>
                                            </a>
                                        </li>
                                    {{ end }}
                                {{ end }}
                            </ul>
                        {{ end }}
                    </div>
                </li>
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}