{{ define "activity_create_note" }}
    {{ $actors := .actors }}
    {{ $announcements := .announcements }}
    {{ $media := .media }}
    {{ with $item := .item }}
        {{ with $note := $item.create_note}}
            <li class="media mb-3 border-top border-secondary pt-2">
                <img class="pr-1" src="{{- $actors.Lookup "icon" $note.author -}}?size=60" alt="icon"/>
                <div class="media-body">
                    <div class="dropdown float-right">
                        <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            <i class="fas fa-tools"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a href="{{ $note.object_id }}" class="dropdown-item">View</a>
                            {{ if eq true (lookupBool $announcements $note.object_id false) }}
                                <a href="#" class="dropdown-item disabled"
                                   data-object="{{ $note.object_id }}">Announce</a>
                            {{ else }}
                                <a href="#" class="dropdown-item announce"
                                   data-object="{{ $note.object_id }}">Announce</a>
                            {{ end }}
                            {{- if $note.link_thread -}}
                                <a class="dropdown-item"
                                   href="{{ url "thread" $note.thread_id }}">
                                    View Thread
                                </a>
                            {{- end -}}
                            {{- if $note.link_reply -}}
                                <a class="dropdown-item"
                                   href="{{ url "compose" }}?inReplyTo={{ urlEncode $note.object_id }}">
                                    Reply
                                </a>
                            {{ end }}
                            {{- if $note.can_delete -}}
                                <a href="#" class="dropdown-item owner_delete"
                                   data-object="{{ $note.object_id }}">Delete</a>
                            {{- end -}}
                        </div>
                    </div>
                    <p>
                        {{ if $note.in_reply_to }}
                            <a href="{{ $note.author }}">
                                {{- $actors.Lookup "name" $note.author -}}
                            </a>
                            replied to
                            {{ if $note.in_reply_to_author }}
                                <a href="{{ $note.in_reply_to }}">
                                    {{- $actors.Lookup "name" $note.in_reply_to_author -}}
                                </a>
                            {{ else }}
                                <a href="{{ $note.in_reply_to }}">a note</a>
                            {{ end }}
                        {{ else }}
                            <a href="{{ $note.author }}">
                                {{- $actors.Lookup "name" $note.author -}}
                            </a> wrote
                        {{ end }}
                        on {{ datetime $note.published_at }}
                    </p>
                    {{- $note.content | toHTML -}}
                    {{ if $note.media }}
                        <ul class="list-inline">
                            {{ range $m := $note.media }}
                                {{ $thumb := ($media.Lookup "blurhash" $m) }}
                                {{ if $thumb }}
                                    <li class="list-inline-item">
                                        <a href="{{ $media.Lookup "image" $m }}" target="_blank">
                                            <img class="img-thumbnail" src="{{ $thumb }}"
                                                 alt="blurred thumbnail of media"/>
                                        </a>
                                    </li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    {{ end }}
                </div>
            </li>
        {{ end }}
    {{ end }}
{{ end }}