{{ define "activity_tombstone" }}
    {{ with $item := .item }}
        {{ with $tombstone := $item.tombstone }}
            <li class="media mb-3 border-top border-secondary pt-2">
                <div class="media-body">
                    <h3 class="text-danger">Object Removed</h3>
                    <ul class="text-muted">
                        {{ with $tombstone.object_id }}
                            <li>{{ . }}</li>
                        {{ end }}
                        {{ with $tombstone.deleted_at}}
                            <li>Deleted {{ date . }}</li>
                        {{ end }}
                        {{ with $tombstone.former_type }}
                            <li>Former Type "{{ . }}"</li>
                        {{ end }}
                    </ul>
                </div>
            </li>
        {{ end }}
    {{ end }}
{{ end }}