{{ define "dashboard_menu" }}
    <div role="navigation" class="pt-3">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link{{ if eq "dashboard" . }} active{{ end }}" href="{{ url "dashboard" }}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{{ if eq "network" . }} active{{ end }}" href="{{ url "network" }}">Network</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{{ if eq "notes" . }} active{{ end }}" href="{{ url "notes" }}">Notes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{{ if eq "configure" . }} active{{ end }}" href="{{ url "configure" }}">Configure</a>
            </li>
        </ul>
    </div>
{{ end }}