{{ define "flashes" }}
    {{ $t := .Trans }}
    {{ if and .flashes .flashes.Show }}
        <div class="container pt-3 ">
            {{ range .flashes.Error }}
                <div class="alert alert-danger" role="alert">
                    {{ . }}
                </div>
            {{ end }}
            {{ range .flashes.Success }}
                <div class="alert alert-success" role="alert">
                    {{ . }}
                </div>
            {{ end }}
            {{ range .flashes.Info }}
                <div class="alert alert-secondary" role="alert">
                    {{ . }}
                </div>
            {{ end }}
        </div>
    {{ end }}
{{ end }}