{{ define "object_feed" }}
    {{ with . }}
        {{ range . }}
            {{ if .ViewContext.Error }}
                <div class="media pt-2 border-top border-danger">
                    <div class="media-body">
                        <h3 class="text-danger">Error</h3>
                        <p class="lead text-danger">.ViewContext.Error</p>
                    </div>
                </div>
            {{ else }}
                {{ if .ViewContext.Tombstone }}
                    <div class="media pt-2 border-top border-danger">
                        <div class="media-body">
                            <h3 class="text-danger">Object Removed</h3>
                            <ul class="text-muted">
                                {{ with .ViewContext.ObjectID }}
                                    <li>{{ . }}</li>
                                {{ end }}
                                {{ if .ViewContext.TombstoneHasDeletedAt  }}
                                    <li>Deleted {{ date .ViewContext.TombstoneDeletedAt }}</li>
                                {{ end }}
                                {{ with .ViewContext.TombstoneFormerType }}
                                    <li>Former Type "{{ . }}"</li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                {{ else }}
                    {{template "view_object" . }}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}