{{ define "paged" }}
    {{ if . }}
        <div class="row pt-3">
            <div class="col">
                <nav aria-label="Feed page navigation">
                    <ul class="pagination">
                        {{ if .First }}
                            <li class="page-item">
                                <a class="page-link" href="{{ .First.URL }}">First</a>
                            </li>
                        {{ else }}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">First</a>
                            </li>
                        {{ end }}
                        {{ if .Previous }}
                            <li class="page-item">
                                <a class="page-link" href="{{ .Previous.URL }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {{ else }}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Previous" tabindex="-1" aria-disabled="true">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {{ end }}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">
                                {{ .Current.Label }} <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        {{ if .Next }}
                            <li class="page-item">
                                <a class="page-link" href="{{ .Next.URL }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {{ else }}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Next" tabindex="-1" aria-disabled="true">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {{ end }}
                        {{ if .Last }}
                            <li class="page-item">
                                <a class="page-link" href="{{ .Last.URL }}">Last</a>
                            </li>
                        {{ else }}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Last</a>
                            </li>
                        {{ end }}
                    </ul>
                </nav>
            </div>
        </div>
    {{ end }}
{{ end }}