<div class="row border-top mt-4">
    <div class="col">
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="https://tavern.town/">Tavern</a>
                ({{ tavern_version }})
                is open source software.
            </li>
            <li class="list-inline-item text-muted">
                <i class="fas fa-ellipsis-v"></i>
            </li>
            <li class="list-inline-item">
                <a href="{{ url "about" }}">About</a>
            </li>
            <li class="list-inline-item text-muted">
                <i class="fas fa-ellipsis-v"></i>
            </li>
            <li class="list-inline-item">
                <a href="{{ url "terms" }}">Terms</a>
            </li>
        </ul>
    </div>
</div>
