<!doctype html>
<html lang="{{ .Trans.Locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/public/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh">
    <link rel="stylesheet" href="/public/all.min.css"
          integrity="sha384-Hh0v7vGgJOyPxg2p1drB2OXChfDkRVS27COfrfg7yE4zvbdtSUsd1Jab8JuzSmH5">
    {{template "head" .}}
</head>
<body>
<main role="main" class="container">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#tavernNav"
                aria-controls="tavernNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="tavernNav">
            <a class="navbar-brand" href="{{ url }}">
                <div class="d-inline-block align-top">
                    <i class="far fa-beer fa-fw"></i>
                </div>
                {{ siteTitle }}
            </a>
            {{ if .authenticated }}
                <ul id="topnav" class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li id="navcompose" class="nav-item">
                        <a class="nav-link" href="{{ url "compose" }}">
                            <i class="far fa-plus"></i> New
                        </a>
                    </li>
                    <li id="navfeed" class="nav-item">
                        <span class="recent-badge badge badge-secondary align-middle invisible"></span>
                        <a class="nav-link" href="{{ url "feed_recent" }}">Feed</a>
                    </li>
                    <li id="navnetwork" class="nav-item">
                        <a class="nav-link" href="{{ url "network" }}">Network</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url "groups" }}">Groups</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url "profile" (.user.Name) }}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url "configure" }}">Configure</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url "signout" }}">Sign-out</a>
                    </li>
                </ul>
            {{ end }}
        </div>
    </nav>
    {{ template "flashes" . }}
    <div class="container">
        {{template "content" .}}
    </div>
    {{include "layouts/footer"}}
</main>


<script src="/public/jquery-3.4.1.min.js"
        integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh"></script>
<script src="/public/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"></script>
<script src="/public/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"></script>
{{ template "footer_script" . }}
</body>
</html>