{{define "head"}}{{end}}
{{define "footer_script"}}{{end}}
{{define "content"}}
    <div class="row pt-3">
        <div class="col">
            <h1 class="pb-1">Compose Note</h1>
            <form method="POST" action="{{ url "compose_create_note" }}" enctype="multipart/form-data" id="create_note">
                <div class="mt-1">
                    <p class="float-right">
                        <a href="{{ url "compose" }}?advanced=true">
                            Advanced
                        </a>
                    </p>
                </div>
                {{- if .thread_context -}}
                    <input type="hidden" name="thread_context" value="{{ .thread_context }}"/>
                {{- end -}}
                {{- if .in_reply_to -}}
                    <input type="hidden" name="inReplyTo" value="{{ .in_reply_to }}"/>
                {{- end -}}
                {{- range .recipients -}}
                    <input type="hidden" name="recipient" value="{{ . }}"/>
                {{- end -}}
                <div class="form-group">
                    <label for="createNoteSummary">Summary</label>
                    <input type="text" class="form-control" id="createNoteSummary" name="summary">
                </div>
                <div class="form-group">
                    <label for="createNoteContent">Content</label>
                    <input type="text" class="form-control" id="createNoteContent" name="content" required>
                </div>
                <div class="form-group">
                    <label for="createNoteUpload">Attach</label>
                    <input type="file" class="form-control-file" id="createNoteUpload" name="upload[]">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" id="createNoteSensitive"
                                   name="sensitive">
                            <label class="form-check-label" for="createNoteSensitive">
                                Sensitive
                            </label>
                            <small id="createNoteSensitiveHelp" class="form-text text-muted">
                                Marks the post as sensitive, using the object summary as the warning.
                            </small>
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-dark" name="submit" value="Create Note"/>
            </form>
        </div>
    </div>
{{end}}