{{define "head"}}{{end}}
{{define "footer_script"}}{{end}}
{{define "content"}}
    {{ $group := .group }}
    {{ $groupActor := .group_actor }}
    <div class="row pt-3">
        <div class="col">
            <h1>@{{ .group.Name }}@{{ .domain }}</h1>
            {{ if .group.About }}
                {{ .group.About | toHTML }}
            {{ else }}
                <p class="text-muted">This group does not have a description.</p>
            {{ end }}
        </div>
    </div>
    {{ if .owner }}
        {{ $user := .user }}
        {{ $userActor := .user_actor }}
        <div class="row pt-3 border-top">
            <div class="col">
                <h1 class="display-4">Management</h1>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col">
                <h3>Update Description</h3>
                <form method="POST" action="{{ url "group" $group.Name }}" id="update_about">
                    <input type="hidden" name="action" value="update_about"/>
                    <div class="form-group">
                        <label for="updateGroupAbout">About</label>
                        <input type="text" class="form-control" id="updateGroupAbout" name="about" required>
                    </div>
                    <input type="submit" class="btn btn-dark" name="submit" value="Update"/>
                </form>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col">
                <h3>Auto-Accept</h3>
                <form method="POST" action="{{ url "group" $group.Name }}" id="update_auto_accept">
                    <input type="hidden" name="action" value="update_auto_accept"/>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="updateGroupAutoAccept" name="auto_follow"
                                {{ if $group.AcceptFollowers }}
                                    checked="checked"
                                {{ end }}
                               value="true">
                        <label class="form-check-label" for="updateGroupAutoAccept">Auto-Accept Followers</label>
                    </div>
                    <input type="submit" class="btn btn-dark" name="submit" value="Update"/>
                </form>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col">
                <h3>Allow Remote</h3>
                <form method="POST" action="{{ url "group" $group.Name }}" id="update_allow_remote">
                    <input type="hidden" name="action" value="update_allow_remote"/>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="updateGroupAllowRemote" name="allow_remote"
                                {{ if $group.AllowRemote }}
                                    checked="checked"
                                {{ end }}
                               value="true">
                        <label class="form-check-label" for="updateGroupAllowRemote">Allow Remote Followers</label>
                    </div>
                    <input type="submit" class="btn btn-dark" name="submit" value="Update"/>
                </form>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col">
                <h3>Public Directory</h3>
                <form method="POST" action="{{ url "group" $group.Name }}" id="update_directory">
                    <input type="hidden" name="action" value="update_directory"/>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="updateGroupDirectoryOptIn" name="directory"
                                {{ if $group.DirectoryOptIn }}
                                    checked="checked"
                                {{ end }}
                               value="true">
                        <label class="form-check-label" for="updateGroupDirectoryOptIn">Display in the groups
                            directory</label>
                    </div>
                    <input type="submit" class="btn btn-dark" name="submit" value="Update"/>
                </form>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col">
                <h3>Follower Starting Role</h3>
                <form method="POST" action="{{ url "group" $group.Name }}" id="update_default_role">
                    <input type="hidden" name="action" value="update_default_role"/>
                    <div class="form-group">
                        <label for="updateGroupDefaultRole">Role</label>
                        <select class="form-control" id="updateGroupDefaultRole" name="default_role">
                            <option value="0" {{ if eq 0 $group.DefaultMemberRole }} selected="selected"{{ end }}>
                                Viewer
                            </option>
                            <option value="1" {{ if eq 1 $group.DefaultMemberRole }} selected="selected"{{ end }}>
                                Contributor
                            </option>
                            <option value="2" {{ if eq 2 $group.DefaultMemberRole }} selected="selected"{{ end }}>
                                Manager
                            </option>
                        </select>
                    </div>
                    <input type="submit" class="btn btn-dark" name="submit" value="Update"/>
                </form>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col">
                <h3>Members</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Actor</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ range $m := .members }}
                        <tr {{- if eq $m.ActorID $userActor.ActorID }} class="table-info" {{- end -}}>
                            <td>
                                <a href="{{ $m.ActorID }}">{{ $m.ActorID }}</a>
                            </td>
                            <td>
                                {{ if not (eq $m.ActorID $userActor.ActorID) }}
                                    <form method="post" action="{{ url "group_kick" }}">
                                        <input type="hidden" name="group" value="{{ $groupActor.ActorID }}"/>
                                        <input type="hidden" name="actor" value="{{ $m.ActorID }}"/>
                                        <input class="btn btn-sm btn-danger" type="submit" name="submit" value="Kick"/>
                                    </form>
                                {{- end -}}
                            </td>
                        </tr>
                    {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    {{ end }}
{{end}}