{{define "head"}}{{end}}
{{define "footer_script"}}{{end}}
{{define "content"}}
    <div class="row pt-3">
        <div class="col">
            <p class="lead">
                Groups are special actors that announce posts by other members. Groups make it possible to broadcast
                content to other actors without everyone in the group knowing about the other actors ahead of time. They
                fill the need for providing context, similar to how tags work, audiance, because it rebroadcasts
                content, and distribution, similar to traditional mailing lists or user groups.
            </p>
            <p>
                Browse existing groups listed in the <a href="{{ url "group_directory" }}">Group Directory</a>.
            </p>
            <p>
                To send a message to a group, make sure the group's inbox is a recipient of the activity. The easy way
                to do this is to include the group's network identifier (like <code>@tavern-updates@tavern.town</code>)
                in the message, but you can also use the advanced view of the compose note form to include the group in
                the to, cc, bto, or bcc of the create activity. Alternatively, you can also create <code>Announce</code>
                activities and publish them to the group to have the group do the same.
            </p>
            <p>
                <span class="text-danger"><strong>Important!</strong></span>
                Groups do not manage privacy or access controls for content. Please be mindful of who activities are
                being sent to when publishing federated content.
            </p>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col">
            <h3>Create Group</h3>
            <form method="POST" action="{{ url "groups_create" }}" id="createGroup">
                <div class="form-group">
                    <label for="createGroup">Group Name</label>
                    <input type="text" class="form-control" id="createGroup" name="name"
                           placeholder="tavern-updates" required>
                    <small class="form-text text-muted">
                        Groups use the same namespace as users. You cannot create a group that has the same "name" as an
                        existing user, and inversely, you cannot create a user with the same name as an existing group.
                    </small>
                </div>
                <input type="submit" class="btn btn-dark" name="submit" value="Create"/>
            </form>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col">
            <p class="lead">
                To follow a group, go to the <a href="{{ url "network" }}">Network</a> page and follow the group's
                actor.
            </p>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col">
            <h1>Groups You Own</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Group</th>
                </tr>
                </thead>
                <tbody>
                {{ range .groups }}
                    <tr>
                        <td>
                            <a href="{{ .ActorID }}">{{ .ActorID }}</a>
                        </td>
                    </tr>
                {{ end }}
                </tbody>
            </table>
        </div>
    </div>
{{end}}