{{define "head"}}{{end}}
{{define "footer_script"}}{{end}}
{{define "content"}}
    <div class="row">
        <div class="col">
            <h1>Group Directory</h1>
        </div>
    </div>
    <div class="row pt-3 ">
        <div class="col">
            <table class="table table-responsive-sm table-borderless table-hover table-sm">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Members</th>
                    <th scope="col">Created</th>
                </tr>
                </thead>
                <tbody>
                {{ range $group := .groups }}
                    <tr>
                        <th scope="row">{{ $group.Name }}</th>
                        <td>{{ $group.MemberCount }}</td>
                        <td>{{ date $group.CreatedAt }}</td>
                    </tr>
                {{ end }}
                </tbody>
            </table>
        </div>
    </div>
    {{ template "paged" .paged }}
{{end}}