{{define "head"}}{{end}}
{{define "footer_script"}}{{end}}
{{define "content"}}
    <div class="row pt-3 pb-3">
        <div class="col">
            <h1>Please Authenticate</h1>
        </div>
    </div>
    <div class="row pt-md-3 pt-3">
        <div class="col-sm-12 col-lg-6">
            <a id="login"></a>
            <h3>Sign-in</h3>
            <form method="POST" action="{{ url "signin" }}" id="login">
                <div class="form-group">
                    <label for="loginEmail">Email</label>
                    <input type="email" class="form-control" id="loginEmail" name="email" required>
                </div>
                <div class="form-group">
                    <label for="loginPassword">Password</label>
                    <input type="password" class="form-control" id="loginPassword" name="password" required>
                </div>
                <input type="submit" class="btn btn-dark" name="submit" value="Submit"/>
            </form>
        </div>
    </div>

{{end}}
