{{define "head"}}{{end}}
{{define "footer_script"}}{{end}}
{{define "content"}}
    <div class="row pt-3">
        <div class="col">
            <h1>Network</h1>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col">
            <p class="lead">Use this form to follow someone.</p>
            <form method="POST" action="{{ url "network_follow" }}" id="follow">
                <div class="form-group">
                    <label for="followUser">Actor</label>
                    <input type="text" class="form-control" id="followUser" name="actor"
                           placeholder="ngerakines@mastodon.social" required>
                </div>
                <input type="submit" class="btn btn-dark" name="submit" value="Follow"/>
            </form>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col">
            <h1>Following</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Actor</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {{ range .following }}
                    <tr class="following">
                        <td>
                            <a href="{{ . }}">{{ . }}</a>
                        </td>
                        <td>
                            <form method="post" action="{{ url "network_unfollow" }}">
                                <input type="hidden" name="actor" value="{{ . }}"/>
                                <input class="btn btn-sm btn-danger" type="submit" name="submit" value="Unfollow"/>
                            </form>
                        </td>
                    </tr>
                {{ end }}
                {{ range .pending_following }}
                    <tr class="pending-following">
                        <td>
                            <span class="badge badge-danger">Pending</span>
                            <a href="{{ . }}">{{ . }}</a>
                        </td>
                        <td>
                        </td>
                    </tr>
                {{ end }}
                {{ range .groups }}
                    <tr class="following-group">
                        <td>
                            <span class="badge badge-success">Group</span>
                            <a href="{{ . }}">{{ . }}</a>
                        </td>
                        <td>
                            <form method="post" action="{{ url "network_unfollow" }}">
                                <input type="hidden" name="actor" value="{{ . }}"/>
                                <input class="btn btn-sm btn-danger" type="submit" name="submit" value="Unfollow"/>
                            </form>
                        </td>
                    </tr>
                {{ end }}
                {{ range .pending_groups }}
                    <tr class="pending-following">
                        <td>
                            <span class="badge badge-success">Group</span>
                            <span class="badge badge-danger">Pending</span>
                            <a href="{{ . }}">{{ . }}</a>
                        </td>
                        <td class="d-flex">
                            <div>
                                <form method="post" action="{{ url "network_follow" }}">
                                    <input type="hidden" name="actor" value="{{ . }}"/>
                                    <input class="btn btn-sm btn-outline-primary" type="submit" name="submit"
                                           value="Retry"/>
                                </form>
                            </div>
                            <div class="pl-2">
                                <form method="post" action="{{ url "network_unfollow" }}">
                                    <input type="hidden" name="actor" value="{{ . }}"/>
                                    <input class="btn btn-sm btn-danger" type="submit" name="submit" value="Unfollow"/>
                                </form>
                            </div>
                        </td>
                    </tr>
                {{ end }}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col">
            <h1>Followers</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Actor</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {{ range .followers }}
                    <tr class="follower">
                        <td>{{ . }}</td>
                        <td>

                        </td>
                    </tr>
                {{ end }}
                {{ range .pending_followers }}
                    <tr class="pending-follower">
                        <td><span class="badge badge-warning">Pending</span> {{ . }}</td>
                        <td>
                            <form method="post" action="{{ url "network_accept" }}">
                                <input type="hidden" name="actor" value="{{ . }}"/>
                                <input class="btn btn-sm btn-success" type="submit" name="submit" value="Accept"/>
                            </form>
                            <form method="post" action="{{ url "network_reject" }}">
                                <input type="hidden" name="actor" value="{{ . }}"/>
                                <input class="btn btn-sm btn-danger" type="submit" name="submit" value="Reject"/>
                            </form>
                        </td>
                    </tr>
                {{ end }}
                </tbody>
            </table>
        </div>
    </div>

{{end}}