{{define "head"}}{{end}}
{{define "footer_script"}}
    <script>
        $(function () {
            $('body').on('click', 'a.announce', function () {
                let newForm = jQuery('<form>', {
                    'action': '/dashboard/notes/announce/note',
                    'method': 'post',
                    'target': '_top'
                }).append(jQuery('<input>', {
                    'name': 'object',
                    'value': $(this).data('object'),
                    'type': 'hidden'
                }));
                newForm.hide().appendTo("body").submit();
            });

            $('body').on('click', 'a.like', function () {
                let newForm = jQuery('<form>', {
                    'action': '/dashboard/notes/like/note',
                    'method': 'post',
                    'target': '_top'
                }).append(jQuery('<input>', {
                    'name': 'object',
                    'value': $(this).data('object'),
                    'type': 'hidden'
                }));
                newForm.hide().appendTo("body").submit();
            });
        });
    </script>

{{end}}
{{define "content"}}
    <div class="row">
        <div class="col">
            <h1>Feed</h1>
        </div>
    </div>
    {{ if .feed_view }}
        <ul class="nav nav-pills" id="feednav">
            <li id="feednavrecent" class="nav-item">
                <a class="nav-link{{ if eq "recent" .feed_view }} active{{ end }}"
                   href="{{ url "feed_recent" }}">Recent</a>
            </li>
            <li id="feednavmine" class="nav-item">
                <a class="nav-link{{ if eq "mine" .feed_view }} active{{ end }}" href="{{ url "feed_mine" }}">Mine</a>
            </li>
            <li id="feednavlocal" class="nav-item">
                <a class="nav-link{{ if eq "local" .feed_view }} active{{ end }}"
                   href="{{ url "feed_local" }}">Local</a>
            </li>
        </ul>
    {{ end }}
    {{ if .feed }}
        <div class="row pt-3" id="feed">
            <div class="col">
                {{ template "object_feed" .feed }}
            </div>
        </div>
        {{ template "paged" .paged }}
    {{ else }}
        <div class="row pt-5">
            <div class="col">
                <p class="lead"><i>Nothing to display.</i></p>
            </div>
        </div>
    {{ end }}
{{end}}