{{define "head"}}{{end}}
{{define "footer_script"}}{{end}}
{{define "content"}}
    {{ if .feed }}
        <div class="row">
            <div class="col">
                {{template "object_feed" .feed }}
            </div>
        </div>
    {{ end }}
{{end}}