{{define "head"}}{{end}}
{{define "footer_script"}}{{end}}
{{define "content"}}
    <div class="row pt-3">
        <div class="col">
            <h1>@{{ .view_user.Name }}@{{ .domain }}</h1>
        </div>
    </div>
    {{ if .feed }}
        <div class="row pt-3 ">
            <div class="col">
                {{template "object_feed" .feed }}
            </div>
        </div>
        {{ template "paged" .paged }}
    {{ else }}
        <div class="row pt-5">
            <div class="col">
                <p class="lead"><i>User has no activity.</i></p>
            </div>
        </div>
    {{ end }}
{{end}}