{{define "head"}}{{end}}
{{define "footer_script"}}{{end}}
{{define "content"}}
    <div class="row">
        <div class="col">
            <h1 class="display-1">About</h1>
            <p class="lead">
                Tavern is an open source
                <a href="{{ url "tag" "activity-pub"}}">Activity Pub</a>
                server written in
                <a href="{{ url "tag" "golang" }}">Golang</a>.
            </p>
            <p>
                This instance is administered by
                <a href="{{ .admin_user_link }}">@{{ .admin_user }}@{{ .domain }}</a>
                and has {{ .users }} users who have authored {{ .activities }} pieces of content.
            </p>
            {{ if .open_registrations }}
                <p>New accounts are welcome at this time.</p>
            {{ else }}
                <p>New accounts cannot be created at this time.</p>
            {{ end }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 id="code-of-conduct" class="display-4">Code Of Conduct</h1>
            <p>
                The following guidelines are not a legal document, and final interpretation is up to the administration
                of {{ url }}; they are here to provide you with an insight into our content moderation policies:
            </p>
            <ol>
                <li>
                    <p>The following types of content will be removed from the public timeline:</p>
                    <ol type="a">
                        <li>
                            <p>Excessive advertising</p>
                        </li>
                        <li>
                            <p>Uncurated news bots posting from third-party news sources</p>
                        </li>
                        <li>
                            <p>Untagged nudity, pornography and sexually explicit content, including artistic
                                depictions</p>
                        </li>
                        <li>
                            <p>Untagged gore and extremely graphic violence, including artistic depictions</p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p>The following types of content will be removed from the public timeline, and may result in
                        account
                        suspension and revocation of access to the service:</p>
                    <ol type="a">
                        <li>
                            <p>Racism or advocation of racism</p>
                        </li>
                        <li>
                            <p>Sexism or advocation of sexism</p>
                        </li>
                        <li>
                            <p>Casteism or advocation of casteism</p>
                        </li>
                        <li>
                            <p>Discrimination against gender and sexual minorities, or advocation thereof Xenophobic
                                and/or
                                violent nationalism</p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p>The following types of content are explicitly disallowed and will result in revocation of access
                        to the service:</p>
                    <ol type="a">
                        <li>
                            <p>Sexual depictions of children</p>
                        </li>
                        <li>
                            <p>Content illegal in Germany and/or France, such as holocaust denial or Nazi symbolism</p>
                        </li>
                        <li>
                            <p>Conduct promoting the ideology of National Socialism</p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p>Any conduct intended to stalk or harass other users, or to impede other users from utilizing the
                        service, or to degrade the performance of the service, or to harass other users, or to incite
                        other
                        users to perform any of the aforementioned actions, is also disallowed, and subject to
                        punishment up
                        to and including revocation of access to the service. This includes, but is not limited to, the
                        following behaviors:</p>
                    <ol type="a">
                        <li>
                            <p>Continuing to engage in conversation with a user that has specifically has requested for
                                said engagement with that user to cease and desist may be considered harassment,
                                regardless
                                of platform-specific privacy tools employed.</p>
                        </li>
                        <li>
                            <p>Aggregating, posting, and/or disseminating a person's demographic, personal, or private
                                data
                                without express permission (informally called doxing or dropping dox) may be considered
                                harassment.</p>
                        </li>
                        <li>
                            <p> Inciting users to engage another user in continued interaction or discussion after a
                                user
                                has requested for said engagement with that user to cease and desist (informally called
                                brigading or dogpiling) may be considered harassment.</p>
                        </li>
                    </ol>
                </li>
            </ol>

            <p>
                These provisions notwithstanding, the administration of the service reserves the right to revoke any
                user's access permissions, at any time, for any reason, except as limited by law.
            </p>
        </div>
    </div>
{{end}}