{{define "head"}}{{end}}
{{define "footer_script"}}{{end}}
{{define "content"}}
    <div class="row">
        <div class="col">
            <h1 class="display-1">Usage</h1>
            <p class="lead">
                This instance is a part of a distributed social media system called Activity Pub. With it, you can
                create content, follow other people, join groups, and participate in events. Most interaction occurs
                through creating notes (often referred to as "notes" and "statuses") and replying to the notes made by
                others.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 id="terms" class="display-4">Terms</h1>
            <p>
                <strong>Activity</strong> - An action taken by a user that is transmitted through the federated network
                of servers. They contain three important pieces of information: 1) The action that occurred 2) The
                person or entity that performed the action 3) The object of the action. A simplified activity would be "<strong>Nick</strong>
                <strong>created</strong> a <strong>note</strong>" where "Nick" is the actor, "created" is the action,
                and "a note" is the object.
            </p>
            <dl class="row">
                <dt class="col-sm-3">Actor</dt>
                <dd class="col-sm-9">
                    <p>
                        A JSON structure representing an entity. Actors are most often people, but can also represent
                        bots, systems, organizations, and groups.
                    </p>
                </dd>

                <dt class="col-sm-3">Activity</dt>
                <dd class="col-sm-9">
                    <p>
                        A JSON structure representing an activity by an entity. Activity types include:
                    </p>
                    <ul>
                        <li>Create</li>
                        <li>Follow</li>
                        <li>Unfollow</li>
                        <li>Accept</li>
                        <li>Reject</li>
                        <li>Undo</li>
                        <li>Delete</li>
                    </ul>
                </dd>

                <dt class="col-sm-3">Object</dt>
                <dd class="col-sm-9">
                    <p>
                        A JSON structure representing a thing. Object types include:
                    </p>
                    <ul>
                        <li>Note</li>
                        <li>Article</li>
                        <li>Event</li>
                        <li>Location</li>
                    </ul>
                    <p>Additionally, objects can have meta-data associated with them.</p>
                </dd>

                <dt class="col-sm-3">Attachment</dt>
                <dd class="col-sm-9">
                    <p>
                        An additional piece of information, usually a media file, transmitted with objects within
                        activities.
                    </p>
                </dd>

                <dt class="col-sm-3">Blurhash</dt>
                <dd class="col-sm-9">
                    <p>
                        A small piece of data associated with visual media (images, videos, and documents) that allows
                        the content to be blurred while previewed. Blurhash data is directly associated with
                        attachments.
                    </p>
                </dd>

                <dt class="col-sm-3">HashTag</dt>
                <dd class="col-sm-9">
                    <p>
                        A HashTag (or sometimes just "tag") is a piece of meta-data used to organize objects in loose
                        folksonomies. HashTag data is directly associated with objects.
                    </p>
                </dd>

                <dt class="col-sm-3">Mention</dt>
                <dd class="col-sm-9">
                    <p>
                        A Mention is a piece of meta-data used to associate a piece of content with an actor. Often,
                        mentions are automatically parsed from subject references within post content, similar to how
                        early Twitter users adopted "@user" references.
                    </p>
                    <p>
                        An example would be having a note with the content "Hey @user@server, how's ya mama?".
                    </p>
                </dd>

                <dt class="col-sm-3">Feed</dt>
                <dd class="col-sm-9">
                    <p>A feed is a list of objects, either created locally or received from remote sources, that are
                        displayed chronologically.</p>
                    <p>Tavern has multiple feeds:</p>
                    <ul>
                        <li>
                            "/feed" is the default feed. It is a paginated list of objects relevant to the logged in
                            user. Items order most newest to oldest and include content from followers.
                        </li>
                        <li>
                            "/feed/mine" is a paginated list of objects created by the logged in user ordered newest to
                            oldest. This includes both public and non-public content.
                        </li>
                        <li>
                            "/feed/local" is a paginated list of objects created by users on the local instance ordered
                            newest to oldest. This is only public content.
                        </li>
                        <li>
                            "/user/:name" is a paginated list of objects created by the specific user ordered newest to
                            oldest. This is only public content.
                        </li>
                        <li>
                            "/tag/:name" is a paginated list of objects that have the specific tag ordered newest to
                            oldest. This is only public content.
                        </li>
                    </ul>
                </dd>
            </dl>
        </div>
    </div>
{{end}}