{{define "head"}}{{end}}
{{define "footer_script"}}{{end}}
{{define "content"}}
    <div class="row pt-3">
        <div class="col">
            <h1 class="pb-1">Load Actor</h1>
            <form method="POST" action="{{ url "utilities_webfinger" }}" id="webfinger">
                <div class="form-group">
                    <label for="webfingerActor">Actor</label>
                    <input type="text" class="form-control" id="webfingerActor" name="actor" required>
                </div>
                <input type="submit" class="btn btn-dark" name="submit" value="Submit"/>
            </form>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col">
            <h1 class="pb-1">Load Activity</h1>
            <form method="POST" action="{{ url "utilities_crawl" }}" id="crawl">
                <div class="form-group">
                    <label for="crawlActivity">Activity</label>
                    <input type="text" class="form-control" id="crawlActivity" name="activity" required>
                </div>
                <input type="submit" class="btn btn-dark" name="submit" value="Submit"/>
            </form>
        </div>
    </div>
{{end}}